<!DOCTYPE html>
<html>
<head>
	<title>vue中的指令(中)</title>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="box">
		<h1 v-if='isDisplay'>
			isDisplay为真
		</h1>
		<h1 v-else>
			isDisplay为假
		</h1>

		<h1 v-if='hideValue'>
			hideValue为真,该元素不会显示在界面上,也不会出现在DOM文档中
		</h1>
		<h1 v-else>
			hideValue为假,该元素会显示在界面上
		</h1>
	</div>
	<script type="text/javascript">
		var vm = new Vue({
			el: '#box',
			data: {
				isDisplay: true,
				hideValue: false
			}
		})
	</script>
</body>
</html>